*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
.logo h2{
    font-size: 45px;
    font-weight: 700px;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    padding: 18px 35px;
    border-radius: 5px;
    color:white;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
nav{
    display: flex;
    max-width: 1140px;
    width: 71%;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color:#474747
}
 
