*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 700px;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    padding: 18px 35px;
    border-radius: 5px;
    color:white;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
header {
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;   
}

nav{
    display: flex;
    max-width: 1140px;
    width: 71%;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color:#474747
}
 
#Bannar{
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#Bannar .Bannar-Content{
    max-width: 585px;
}
    
#Bannar .Bannar-Content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 13px;

}
#Bannar .Bannar-Content h1{
     color: #181818;
    font-size: 85px;
    font-weight:bold;
    margin-bottom: 20px;
}
#Bannar .Bannar-Content p{
     color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}
#Bannar .Banner-image img{
    max-width: 585px;;
    vertical-align: middle;
}
#about , #Skill , #resume{
    padding-top: 130px;
    
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
   font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 30px; 
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 30px;
}
#about .section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 30px;
}
#about .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 30px;
}
#about .about-info{
    max-width: 782px;
    display: flex;
    gap: 50px;
    justify-content:space-around;
    margin: 0 auto;
}
#about .about-card p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
#about .about-card h4{
   font-size: 20px;
    font-weight: bold;
    color: #181818;
    line-height: 30px;
}
#Skill .Skill-container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
}
#Skill .Skill-container .Skill-box{
    display: flex;
    gap: 24px;
}
.Skill-box .Skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000028;
}
.Skill-card img{
    max-width: 44px;
    margin: 30px;
}
.Skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 20px;
}
.Skill-card p{
     font-size: 16px;
    line-height: 28px;
    color: #757575;
    max-width: 201px;
}
#resume .resume-container{
    max-width: 1140px;
    width: 71%;
    margin: 113px auto 0;
}
.resume-container{
    display: flex;
    gap: 24px;   
}
.resume-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-container .card-title{
    font-size: 25px;
    font-weight:bold ;
    color: #474747;
    padding-top: 30px;
    padding-bottom: 10px;
}
.resume-container .card-info{
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
    padding-bottom: 20px;
}
.resume-container .card-text{
   font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.buttin{
    padding-top: 50px;
    text-align: center;
}
footer{
    margin: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
    
.footer-container .social{
   max-width: 562px;
}
.footer-container h2{
 font-size: 35px;
 font-weight: bold;
 color: #181818;
 margin-bottom: 20px;
}
.footer-container p{
  font-size: 16px;
 line-height: 28px;
 color: #474747;
 margin-bottom: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
}
.footer-container form input[type="text"]{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}


   


 